/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */

/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */

  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
  @import "~react-image-gallery/styles/css/image-gallery.css";

/*   ----- Variables  -----  */
:root {
    --color-sky-blue: #96BFD9;
    --color-grey-blue: #b4d1dddd;  /* transparency */
    --color-trans-grey-blue: #cbdbdbd0;  /* transparency */
    --color-non-trans-grey-blue: rgb(115, 110, 118);
    --color-cream: #eaeef2;
    --color-light-orange: rgb(236, 208, 170);
    --less-light-orange: rgb(235, 200, 150);
    --color-dark-brown: #483e38;
    --blueberry: #5c7292;
    --tan: #DCC7AA;
    --navy: #1c1f4c;
    --trans-navy: #1c1f4c88;  /* transparency */
    --rust: #9b5913;
    --blend-blue: rgb(153, 175, 205);
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  html {}

  body { 
    background-color: var(--color-cream);
    font-weight: 400;
    font-size: 1em;
    color: var(--color-dark-brown);
    font-family: 'Lato', sans-serif;
  }
  
  /*  ----- Page layout blocks -----  */
  header {}

  main {}
  section {}
  article {}
    #topic1 {}
    #topic2 {}

  div {}
  aside {}

  footer {}

   /* The side navigation menu */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 8px 30px 8px;
  width: 325px;
  background: linear-gradient(180deg, var(--blueberry) 0%, var(--color-cream) 120%);
  color: var(--color-cream);
  font-size: 1.2em;
  text-align: center;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar div{
  display: flex;
  flex-direction: row;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: var(--color-cream);
  padding: 15px;
  text-decoration: none;
  border-width: 0 0 1px 0;
}

/* Active/current link */
.sidebar a.active {
  color: var(--color-cream);
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: var(--less-light-orange);
  background-color: var(--color-non-trans-grey-blue);
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin: 0px 0px 0px 365px;
  font-size: 1.2em;
  padding: 5px 20px 40px 20px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 

.centered {
  text-align: center;
  align-items: center;
}
  
.project {
  border: 2px solid black;
  border-radius: 20px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 20px;
}
  /* ----- Anchors ----- Text links */
  a {}
  a:link {
    color:var(--navy)
  }
  a:hover {
    color:var(--navy)
  }
  a:active {}
  a:visited {color:inherit}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {
  }
  nav a {
  }
  nav a:hover {
  }
  
  .local {
    display: flex;  /* repeated to meet requirement - not necessary due to cascade */
    flex-direction: row;
    align-items: center;
    background: linear-gradient(90deg, var(--color-trans-grey-blue) -25%, var(--less-light-orange) 50%, var(--color-trans-grey-blue) 125%);
  }
  .local a {
    background: var(--less-light-orange);
    color:var(--color-dark-brown);
    font-size: 1.2em;
    font-weight: 300;
    padding: 4px 15px 4px 15px;
  }
  
  .local a:hover {
    color: var(--color-light-orange);
    background: var(--trans-navy);
  }

  /*  -----  Typography  ----- */
  p {
    margin: 2%;
  }
  br {}
  ol, ul, dl {
    margin: 2%;
  }
  li {
    margin-bottom: 2%;
  }
  dt {}
  dd {}
  
  h1 {
    font-size: 2.7em;
    font-weight: 900;
  }
  h2 {
    font-size: 2.2em;
    font-weight: 900;
  }

  h3 { 
    font-size: 1.7em;
    font-weight: 700;
  } 

  h4 { 
    font-size: 1.2em;
    font-weight: 700;
  } 

  h5 {

  }
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {
    font-weight: 700;
    font-style: italic;
  }
  hr {}
  mark {}
  s {}
  span {}
  strong {font-weight: 700}
  small {
    font-size: small;
  }
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  .warning {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    color: red;
  }
  
  /*  ----- Table ----- */
  table {
    border-collapse:collapse;
    width: 99%;
  }
  caption {
    color:var(--navy);
    font-weight:bold;
    padding:1% 0;
  }
  thead {
    border: 2px solid var(--color-dark-brown);
    color: var(--color-cream);
    background-color:  var(--navy);
  }
  .theadCenter {
    text-align: center;
    border: 2px solid var(--color-dark-brown);
    color: var(--color-cream);
    background-color:  var(--navy);
  }
  tbody {
    text-align:right;
  }
  tfoot {
    border: 2px solid var(--color-dark-brown);
    color: var(--color-cream);
    background-color:  var(--navy);
  }
  tr, td {
    height: 40px;
    border-bottom:1px solid var(--color-dark-brown);

  }
    tr:nth-child(even) {
      background-color:  var(--color-grey-blue);
    }


  tr {

  }
  th {
    padding:1%;
    text-align: right;
  }
  td {}
  td:nth-child(1) {}

  table img {
    border: solid var(--color-dark-brown);
    border-width: 2px;
    border-radius: 9px;
  }

  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- */j
  form, button, input, select, textarea, legend, label{
    
    font-size: 1.3em;
    font-weight: 600;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

  }
  fieldset {

    border: 2px solid var(--color-dark-brown);
    margin-bottom: 1%;
    width: 80%;
    display: block;
    text-align: center;
 
  }
  legend {
    background-color: var(--trans-navy);
    color: var(--color-light-orange);
    border: 2px solid var(--navy);
    padding: 1%;
    font-size: 110%;
  }
  label {
    display: block;
    margin-top: 2%;
    color: var(--color-dark-brown)
  }

  button {
    text-rendering: auto;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: black;
    box-sizing: border-box;
    margin: 10px 0px;
    font: 400 11px system-ui;
    font-size: 20px;
    padding: 10px 60px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;
    border-radius: 5px;
}

.styledButton {
    background-color: var(--blueberry);
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
  }

  input {
    padding: 1%;
    font-size: 110%;
    background-color: white;
    margin-bottom: 2%;
  }
  select {}
    optgroup {}
    option {}

  textarea {
    padding: 1%;
    font-size: 110%;
    height: 200px;
    width: 90%;
    max-width: 600px;
    background-color: white;
    align-items: center;
  }
  output {}
  meter {}
  progress {}
  
  *:required {
    border:2px solid green;
}
.address {
  width: 90%;
}

.form_intro {
  text-align: center;
}
  
  /* ----- Media ----- */
  figure {
    /* flex attribute inherited from .gallery class */
    flex-basis: 400px;
  }

  figcaption {
    text-align: center;
    padding: 1%;
  }

  figure img {
    border: 3px solid var(--color-dark-brown);
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    margin: 5px;
  }
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .image-gallery-wrapper {
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 95%;
    margin: 0 auto;
    border: 1px solid var(--navy);
    box-shadow: #2b15453d 1px 10px 10px 5px;
    height: 900px;
  }

  .image-gallery-image {
    height: 750px;
  }

  .image-gallery-thumbnails {
    height: 150px;
  }

  .image-gallery-thumbnails-container {
    height: 140px;
  }

.image-gallery-description { bottom:0px!important; } 

i {
  font-size: 140%;
  cursor: pointer;
}

.emoji {
  font-size: 200%;
}

.icon {
  height: 45px;
}

.headshot {
  height: 200px;
  border-radius: 20px;
}

.skillsParent {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.skillsChild {
   width: 300px;
   height: auto;
   padding: 10px 10px 10px 10px;
}


.right { 
  float: right;
  margin-right: 20px;
  margin-top: 0px;
}


  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
  